.loginModalContainer {
  position: fixed;
  background: rgba(255,255,255,.5);
  height: 100%;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginModal {
  height: 70%;
  width: 90%;
  background: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}





.search-results {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
}

.search-results-button {
  width: 45%;
  white-space:normal;
}

.search-results-button > h5 {
  /*word-wrap: break-word;*/
  white-space:normal;
}

.search-results-li {
  word-wrap: normal;
  text-align: left;
}

#root,html, body {
  text-align: center;
  height: 100%;
}

.createInputWrapper, .wayPointForm {
  display: flex !important;
  flex-direction: column;
  width: 50%;
  margin: auto;
  min-width: 300px;
  box-shadow: 0 0 5px darkslategrey;
}

.createInputWrapper input, textarea {
  display: block;
  padding: 0.1em;
  margin: 0.3em;
  border: 1px solid darkslategrey;
}


.createTripLowHalf {
  background-color: powderblue;
}

.rootDrawerWrapper {
  background-color: rgba(114, 185, 235, 0.78);
}

.btn-default {
  margin: 0.8em;
}



.wayPointForm input{
  display: block;
  padding: 0.1em;
  margin: 0.3em;
  border: 1px solid darkslategrey;
}

.wayPointForm button {
  margin:0.5em;
}

body {
  font-size: 1.6em;
  min-width:320px;
  min-height:320px;
  max-width:2200px;
  margin: auto;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.mainUserTripsContainer > div {
  padding-bottom: 4.2em;
}

/*.infoDrawerMain {
  height: 100%;
  overflow: auto;
}*/

.selected {
  color: black;
  background-color:skyblue;
}

.navText{
  text-decoration: none !important;
  display: inline-block !important;
  width:100%;
  margin:0.1em;
}

.mainDiv {
  height: 100% !important;
}

.navBarText h1 {
  white-space: normal !important;
  font-size: 100% !important;
}

img{
  width:100%;
}

label {
  background: #2196f3;
  width: 100%;
  color: white;
}

.tripsDisplayContainer {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width:100%;
  padding:1em;
}

.tripsDisplayInnerWrapper {
  height:100vh !important;
  width:100%;
  overflow: auto;
}

.bar {
  /*margin-bottom: 1.5em;*/
}

.topResultCard {
  padding:1em;
  padding-top:0.5em;
}

.topResultCard h4 {
  padding:1em;
}

::-webkit-scrollbar {
    display: none;
}



.tripsDisplayInnerContainer {
  display: flex !important;
  flex-flow: row wrap;
  padding: 1em;
  height: 20em;
  overflow: auto;
  justify-content: space-around;
  box-shadow: 0 0 10px black;
  margin: 1em auto 1em;
  width: 100%;
  max-width: 20em;
}

.mainUserTripsContainer {
  overflow: auto;
  height: 94%;
  top: 3.7em;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;

}

.btnResultsContainer {
  margin: 1em auto;
}

.waypointResults {
  margin: 1em auto;
}

.trip {
  display: block;
  padding:1em;
}

.resultCardContent {
  display: flex !important;
}


.ratingIcon {
  position: relative;
  height:2em;
  width:2em;
}

.bar {
  background: #2196f3;
  text-align: right;
  height:2.5em;
}

.hamburgerContainer {
  position: relative;
  top:0;
  height: 100%;
  overflow:hidden;
}

Container button {
  background-color: transparent;
  border:none;
  height: 100%;
}

.hamburgerBtn {
  color:white !important;
  background-color:transparent !important;
  box-shadow: none !important;
}

.hamburgerBtn  button {
  background-color:transparent !important;
}

.material-icons {
  font-size: 200%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.navText .material-icons {
  top: 0;
  transform:translateY(35%);
  padding: 0 0.5em 0 .4em;
}

.navText {
  text-align: left;
}

/*.navText  div  span  div  div {
padding: 0 5em;
}*/

.navText:hover {
  background: skyblue;
}



.homeBg {
  width:100%;
  height:100%;
  background-image: url('/assets/map.png');
  background-size: cover;
  filter: blur(1px);
  /*background-position: 78em 36em;*/
  transition: all;
  /*animation: circleBg 30s infinite ease;*/
}

.modal-backdrop.in {
  background-color: aliceblue;
  opacity: 0.9;
}

.modal-content {
  background-color: #42A0EE;
}

.modalComponent {
  color: ghostwhite;
  letter-spacing: 1px;
}

div.custom-modal {
  transform: translateY(-50%);
  top:50%;
}

.signBtn {
  box-shadow: 0 0 0.1em rgba(0,0,0,.5),
  0 0 0.2em rgba(0,0,0,.5);
  padding:0.7em;
  margin:.5em 1.2em;
  vertical-align: baseline;
  background: #4586ec;
}

.googleSignBtn {
  width:14em;
  padding:0;
  background-color: #4586ec;
  background-image: url('/assets/btn_google_dark_normal_ios.svg');
  background-repeat: no-repeat;
  background-position: left center;
  height:3em;
  text-align: right;
}
.signInText {
  margin-right:1em;
}

.googleSignImage {

}


.cardContainer {
  padding: 0;
  text-align: left !important;
}

.profileBtn {
  text-align: left !important;
  width: 100%;
  height: auto !important;
}
div.content.active {
  padding:1em !important;
}

#card {
  height:100%;
}

#card > div > div > div {
  padding: 0 !important;
}

.cardContainer {
  height:100%;
}

.createTripWrapper {
  overflow: auto;
}

@keyframes circleBg {
  20% {
    background-position: 70em 40em;
    filter:blur(1px);
  }
  40% {
    background-position: 65em 36em;
    filter:blur(2px);
  }
  60% {
    background-position: 61em 28em;
    filter:blur(1px);
  }
  80% {
    background-position: 70em 24em;
    filter:blur(1.5px);
  }

  100% {
    background-position: 78em 36em;
    filter:blur(0.5px);

  }
}

.searchForm {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  margin: auto;
  left: 0;
  right: 0;
}

.form-control {
  margin:1em auto;
  font-size: 0.9em;
}

.homeTopHalfContainer {
  height:60%;
}

.homeTopHalf {
  position: relative;
  height: 100%;
}



.backBtnContainer {
  display: inline-block;
  position: absolute;
  top:0;
  left:1em;
  height:2.5em;
  color:white;
}

.underWayWrapper {
  height: 100%;
  background-color: rgba(33, 150, 243, 0.59);
}

.currentAccordion > div {
  margin: 2em auto 1em;
  background-color: rgba(33, 150, 243, 0.59);
}

.currentAccordion > div:hover {
  background-color: rgba(78, 179, 179, 0.57);
  color:white;
}

.currentAccordion > div.title:active {
  background-color: red;
  color:white;
}

.title, .active  {
  margin: 0 !important;
}

.content.active {
  background-color: rgba(47, 79, 79, 0.60);
  display:flex !important;
  justify-content: center !important;
}

div.currentAccordion > button {
  margin: 0 1em !important;
}

.currentAccordion > .title {
  padding-top: 2em !important;
  border-bottom: 1px solid black;
}

.bottomHalfLoader {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 1em;
}

div.ui.huge.active {
  margin: auto !important;
}

.topHalfLoader {
  position: absolute;
  left:0;
  right:0;
  top:25%;
  margin:auto;
}

.tripLoader {
  top: 50%;
  transform:translateY(-50%);
}

.drawerBar {
  display: block;
  padding:1em;
  background-color: powderblue;
}

.currWayPointsRootContainer {
  border: solid darkslategrey 1px;
}

.closeDrawerBtnContainer {
  display: none;
}

.waypointBtnContainer {
  display: none;
}

.myTripsMainContainer {
  margin-top: -2em;
}

.userTripContainer {
  width: 100%;
  background-color: rgba(33, 150, 243, 0.59);
  max-width: 600px;
  margin: auto;
  border: 1px solid darkslategrey;
  padding: 1em 0;
  margin-top: -0.7em;


}



@media only screen and (min-width:600px) and (min-height:400px) {
  body {
    font-size: 2em;

  }

  .mainUserTripsContainer {

    top:2.8em;

  }


  /*.navBarText h1 {
  white-space: normal !important;
  font-size: 0.5em !important;
  }*/

  .material-icons {
    font-size: 150%;
  }

  .bar {
    height:1.5em;
  }

  .form-control {
    padding:1em;
  }

  .backBtnContainer {
    height: 1.5em;
  }

  .btn-primary {
    font-size: 1em;
  }

}



.myTripsMainContainer {
  padding: 0;
  height: 100%;
}

.myTripsNavbar {
  margin: auto;
  background: #2196f3;
  width: 100%;
  color: white;
  padding: 0;
  position: absolute;
  bottom:0;
}

.myTripsNavItem {
  padding: 1em;
}

.myTripsNavItem:hover {
  color:black;
  background-color: sky-blue;

}






@media only screen and (min-width:1366px) {
  .bar {
    height:2em;
  }

  .rootDrawerWrapper {
    width:30% !important;
  }

}

@media only screen and (min-width:1600px) {
  body {
    font-size: 3em;
  }
  .hamburgerBtn button {
    vertical-align: bottom;
  }

  .navbar-brand{
    font-size:1.3em;
  }

  .navBarText {
    font-size: 1.5em;
  }

  .bar {
    height: 2.2em;
  }

  ul.navbar-nav {
    height: 3.7em !important;
  }

  .navbar-nav > li{
    position: relative;
    top: 50%;
    transform: translateY(-60%);
  }

  .navbar-header {
    -webkit-transform: translateY(10%);
    -ms-transform: translateY(10%);
    transform: translateY(10%);
  }

  #card {
    font-size:2.5em;
    height: auto;
    width: 20em;
    padding-bottom:1em;
  }
}




.navbar-nav {
  font-size: 20px !important;
  color: white !important;
}

.bigScreen {
  display: none;
}

.underWayWrapper {
  height: 50%;
}

.createTripWrapper {
  height: 100%;
  min-height: 280px;
}

@media (min-width: 768px) {

  body {
    min-height: 480px;
  }

  .container {
    height: 100%;
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .mapContainer {
    height: 100% !important;
    padding: 0;
  }

  .myTripsMainContainer {
    margin: 0;
  }

  .searchForm {
    transform: translateY(-110%);
    z-index: 40;
  }

  .tripsDisplayContainer {
    padding-top: 3em !important;
  }

  .bigScreen {
    display: block;
  }

  #card {
    text-align: center;
    position: absolute;;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    width: 16em;
    padding-bottom:2em;
  }

  .profileBtn {
    text-align: center !important;
  }

  .navbar-header a, .nav a {
    display: inline-block;
    text-decoration: none !important;
  }

  li > div > span> div > div {
    color: white !important;
  }

  .navbar-header a, .nav a {
    color:white;
  }

  .navbar-brand{
    font-size:1.4em;
  }

  label {
    padding: 0.5rem;
    margin: 0;
  }

  .hamburgerContainer {
    display: none;
  }


  .bar {
    height:2.5em;
    position: absolute;
    z-index:5;
    width:100%;
  }

  .createTripWrapper {
    min-height: 380px;
  }

  .homeTopHalfContainer {
    height:100%;
  }

  .homeTopHalf {
    position: absolute;
    width:100%;
    min-height: 480px;
  }

  .homeCardsContainer {
    min-height: 480px;
    position: absolute;
    z-index:2;
    display: flex !important;
    align-content: flex-end;
    height: 100%;
    width:100%;
    align-items: flex-end;
    justify-content: space-around;

  }

  .homeCard {
    width:40%;
    max-width: 350px;
    display: inline-block;
    z-index: 6;
    background-color: whitesmoke;
    margin-bottom: 3em;
    box-shadow: 0 0 10px black;
    border: 1px solid black;
    max-width:
  }

  .tripsDisplayContainer {
    display: flex !important;
    justify-content: space-around;
    align-items: center;

  }

  .underWayWrapper {
    height: 100%;
  }

  .createTripWrapper {
    height: 100%;
    min-height: 280px;
  }

  .rootDrawerWrapper {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 25;
    overflow: auto;
    height: 100%;
    width: 50%;
    opacity: 1;
    top: 2.5em;
    height: calc(100% - 2.5em);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all 1s;
  }

  .currWayPointsRootContainer {
    width:100% !important;
    background-color: rgba(114, 185, 235, 0.78);
  }

  .drawerBar {
    position: relative;
  }

  .hideDrawer {
    right: -110%;
    opacity: 0;
  }

  .closeDrawerBtnContainer, .waypointBtnContainer {
    display: inline-block;
    font-size:130%;
    position: absolute;
    left:1em;
    top:1em;
    background: transparent;
    outline: none;
    border-radius: 100%;
    border:none;
  }

  .closeDrawerBtn, .waypointBtn {
    background-color: transparent;
    border:none;
  }

  .waypointBtnContainer {
    top:3em;
    left: inherit;
    right:1em;
    width:7em;
  }

  .waypointBtn {
    font-size: 150%;
  }

  .infoDrawerMain {
    width:100%;
    top:0;
  }

  i.map.icon {
    color:rgba(204, 144, 35, 0.91);
    font-size: 150%;
  }

  .content.active {
    justify-content: space-around;
  }


}




@media only screen and (min-width:1024px) {
  body {
    font-size:2em;
  }

  #card {
    text-align: center;
    height: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-70%);
  }

  .rootDrawerWrapper {
    width:40% !important;
  }

}


.user  {
  color: white !important;
  padding-right: 30px !important;
}


.mapsComponent  {
  height:100%;
}

.backBtn {
  background: transparent;
  border: none;
  font-size: 145%;
}

.mapRef {
  height: 100%;
  width: 100%;
}

.mapContainer {
  height: 60%;
  padding: 0;
}
